<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>すべての投稿</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center ">
    <% if @user_count%100 == 0 && @user_count != 0%>
      <h1>
        登録者数
        <%= @user_count %>
        人突破！
      </h1>
    <% end %>
    <h1>ようこそ！</h1>
    <div class=welcome>このサイトに登録してダイエットや筋トレなどの情報をシェアしよう！</div>


    <%= link_to "新規登録はこちら", signup_path, class: "btn btn-lg btn-primary" %>
  </div>

  <% link_to image_tag("rails.png", alt: "Rails logo"),'http://rubyonrails.org/' %>
<% end %>