<% provide(:title, "おすすめ通販サイト") %>
<div class="shop">
    <h1><%= link_to "iHerb",'https://jp.iherb.com' ,:target=>["_blank"] ,:style=>"color:#FFFF00;"%></h1>
    <p>こちらサイトではサプリメントやプロテインなど</p>
    <p>様々な商品が売っています。</p>
    <p>運動をする人向けのものだけでなく健康に関する商品や</p>
    <p>ヘルシーなお菓子なども売っています。</p>
    <p>このサイトは私の知っている中では健康に関する商品の品揃えNo.1です。</p>
    <p>なのでダイエットや筋トレをしている方だけでなく</p>
    <p>健康を意識している人にもおすすめです。</p>
    <p>iHerbはこちらから</p>
    <p>↓　　↓　　↓</p>
    <%= link_to image_tag("iherb.jpg", alt: "shop_logo"),'https://jp.iherb.com' ,:target=>["_blank"] %>
</div>
<div class="shop">
    <h1><%= link_to "MYPROTEIN",'https://www.myprotein.jp/referrals.list?applyCode=KOTARO-R1K' ,:target=>["_blank"] ,:style=>"color:#FFFF00;" %></h1>
    <p>こちらのサイトの特徴はとにかく安いことと、</p>
    <p>購入金額によってギフトがもらえることです。</p>
    <p>トレーニングをする人向けのプロテインやサプリメントが多く売っています。</p>
    <p>そのほかにもダイエット時のおやつやフィットネス用の服も売っています。</p>
    <p>特にダイエットやボディメイクをいようと思っている方向けだと思います。</p>
    <p>新規の方にはプロテインシェイカーと色々な味のプロテインのサンプルがもらえるので</p>
    <p>筋トレを始めようと思っている方や初めてプロテインを買う方にもおすすめです。</p>
    <p>MYPROTEINはこちらから</p>
    <p>↓　　↓　　↓</p>
    <%= link_to image_tag("myprotein.jpg", alt: "shop_logo"),'https://www.myprotein.jp/referrals.list?applyCode=KOTARO-R1K' ,:target=>["_blank"] %>
</div>
<div class="shop">
        <h1>その他おすすめサイト</h1>
        <div class="mini_title">
            <%= link_to "ビーレジェンド",'https://belegend.jp/' ,:target=>["_blank"],:style=>"color:#FFFF00;" %>
        </div>
        <p>国産のプロテインで安くて高品質といえばここ！</p>
        <div class="mini_logo">
            <%= link_to image_tag("be_legend.jpg", alt: "shop_logo"),'https://belegend.jp/' ,:target=>["_blank"] %>
        </div>
        <br>
        <div class="mini_title">
            <%= link_to "Amazon",'https://www.amazon.co.jp/' ,:target=>["_blank"],:style=>"color:#FFFF00;" %>
        </div>
        <p>なんといっても世界一のショッピングサイトでサプリメントからフィットネス用品まで！</p>
        <div class="mini_logo">
            <%= link_to image_tag("amazon.jpg", alt: "shop_logo"),'https://belegend.jp/' ,:target=>["_blank"] %>
        </div>
        <div class="mini_title">
            <%= link_to "マッスルプロジェクト",'http://muscleproject.jp/' ,:target=>["_blank"],:style=>"color:#FFFF00;" %>
        </div>
        
        <p>新しいサイトで商品数は少ないですが加圧シャツや筋トレ器具などが売っています。</p>
        <div class="mini_logo">
            <%= link_to image_tag("muscleproject.jpg", alt: "shop_logo"),'http://muscleproject.jp/' ,:target=>["_blank"] %>
        </div>
        <div class="mini_title">
            <%= link_to "金剛筋シャツ",'http://menz-store.com/mt/5url/' ,:target=>["_blank"],:style=>"color:#FFFF00;" %>
        </div>
        <p>ここでしか買えない強力な加圧シャツが売ってます！</p>
        <div class="mini_logo">
            <%= link_to image_tag("kongou.jpg", alt: "shop_logo"),'http://menz-store.com/mt/5url/' ,:target=>["_blank"] %>
        </div>
</div>